* {
    box-sizing: border-box;
}
.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sub-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 100px);
    gap: 10px;
}
.hold {
    position: relative;
    width: 100%;
}
.hold span {
    position: absolute;
    bottom: 5px;
    left: 15px;
    z-index: 100;
    color: white;
}
.grid-image {
    height: 100%;
    object-fit: cover;
    width: 100%;
}
.starry-night {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}
.girlWithPearlEarring {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.kanagawaWave {
    grid-column-start: 2;
    grid-row-start: 4;
    grid-row-end: 6;
}
.guernica {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}
.vanGogh {
    grid-column: span 2;
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 7;
}
.monaLisa {
    grid-column: span 2;
    grid-column-start: 3;
    grid-row-start: 7;
    grid-row-end: 11;
}
.pentinentMagdalene {
    grid-column-start: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}
.sleepingGypsy {
    grid-column-start: 4;
    grid-row-start: 3;
    grid-row-end: 5; 
}
.basketOfApples {
    grid-column-start: 4;
    grid-row-start: 5;
    grid-row-end: 9;
}
.storm-on-sea {
    grid-column-start: 1;
    grid-row-start: 3;
    grid-row-end: 5;
}
.theSwing {
    grid-column-start: 4;
    grid-row-start: 9;
    grid-row-end: 11;
}
.ladyWithAnErmin {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 9;
}
.theBoyInTheRedVest {
    grid-column-start: 1;
    grid-row-start: 9;
    grid-row-end: 11;
}
.theNightCafe {
    grid-column-start: 2;
    grid-row-start: 6;
    grid-row-end: 8;
}
.arnolfiniPotrait {
    grid-column-start: 2;
    grid-row-start: 8;
    grid-row-end: 11;
}
@media screen and (max-width:700px) {
    .sub-wrapper {
        display: inline-block;
        gap: 10px;
    }
    .hold {
        height: 200px;
        object-fit: cover;
    }
}
